<a href="https://colab.research.google.com/github/HumayDS/Digital-Data-Analytics-spring-2024-/blob/main/lesson4_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
#Activate package
import numpy as np
import pandas as pd

In [68]:
##Getting dataset
df = pd.read_csv('https://raw.githubusercontent.com/HumayDS/Digital-Data-Analytics-spring-2024-/main/tips_2.csv')

In [69]:
df.head()

   total_bill   tip  gender smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59   NaN  Female     No  Sun  Dinner     4

In [70]:
df.shape

(244, 7)

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df.describe().T

In [ ]:
df.corr()

In [ ]:
#Unique values
df.nunique()

In [ ]:
df['smoker'].value_counts()

In [77]:
  #working with types
  df['gender'] = df['gender'].astype('category')
  df['smoker'] = df['smoker'].astype('category')
  df['day'] = df['day'].astype('category')
  df['time'] = df['time'].astype('category')
  df['size'] = df['size'].astype('int64')

In [ ]:
df.info()

In [ ]:
# Adding new column
df["average_bill"] = df["total_bill"] / df["size"]
df.head()

In [ ]:
#  drop average bill

df.drop(columns=["average_bill"], inplace=True)
df.head()

In [81]:
#  create column if size > 2 , write 'less', 'more'

df['size_category'] = np.where(df['size'] > 2, 'more', 'less')

In [ ]:
df.head()

In [83]:
df.drop('size_category' , axis = 1 ,inplace = True)

In [ ]:
#  create column, if size < 2 , write 'less' between 2 and 5 , write 'orta', else 'chox'

df['size_category'] = np.select(
    [df['size'] < 2, (df['size'] >= 2) & (df['size'] < 5), df['size'] >= 5],
    ['less', 'orta', 'chox']
)

df.head()

In [85]:
df.drop('size_category' , axis = 1 ,inplace = True)

In [ ]:
df.head()

In [ ]:

df.sort_values(by='tip', ascending = False)

In [ ]:

# select 0 : 3
df.iloc[0:3]

In [ ]:

#select rows 0:3 , columns 0:2
df.iloc[:3,:2]

In [ ]:
#FIltering
df.iloc[20:40 , 2]

In [ ]:
#filtering
df.iloc[20 , 2]

In [ ]:
# tip > 5
df[df.tip > 5]

In [ ]:
# prompt: filter tip > 5 and total_bill < 20
## and --->>> &
### or ----->> |
df[(df['tip'] > 5) & (df['total_bill'] < 20)]

In [ ]:
#check nulls
df.isnull().sum()

In [ ]:
# Filter where tip is null

df[df['tip'].isnull()]

In [96]:
# delete nulls
df_1 = df.dropna()

In [ ]:
df_1.shape
df_1.isnull().sum()

In [ ]:
#histogram tip

df['tip'].plot.hist(bins=10)

In [ ]:
# skewness tip

df['tip'].skew()

In [ ]:
#  histogram total bill

df['total_bill'].plot.hist(bins=10)

In [ ]:
#  boxplot tip

df['tip'].plot.box()

In [ ]:
# skewness total_bill

df['total_bill'].skew()

In [ ]:
#fill with 0
df.fillna(0)

In [ ]:
#  df fill na's with mean

df.fillna(df.mean())

In [ ]:
# fill na's with median

df  = df.fillna(df.median())

In [ ]:
df.describe().T

In [ ]:
##Outlier bounds for tip
IQR = df['tip'].quantile(0.75) - df['tip'].quantile(0.25)
lower_limit = df['tip'].quantile(0.25) - 2 * IQR
upper_limit = df['tip'].quantile(0.75) + 2 * IQR
print(lower_limit)
print(upper_limit)

In [ ]:
df[(df['tip']  < lower_limit ) | (df['tip'] > upper_limit)]

In [109]:
q3 = df['tip'].quantile(0.75)

In [110]:
df.loc[(df['tip'] < lower_limit) | (df['tip'] > upper_limit), 'tip'] = q3

In [ ]:
##Outlier bounds for tip
IQR = df['total_bill'].quantile(0.75) - df['total_bill'].quantile(0.25)
lower_limit = df['total_bill'].quantile(0.25) - 1.5 * IQR
upper_limit = df['total_bill'].quantile(0.75) + 1.5 * IQR
print(lower_limit)
print(upper_limit)

In [ ]:
df[(df['total_bill']  < lower_limit ) | (df['total_bill'] > upper_limit)]

In [113]:
q3 = df['total_bill'].quantile(0.75)

In [114]:
df.loc[(df['total_bill'] < lower_limit) | (df['total_bill'] > upper_limit), 'total_bill'] = q3

In [ ]:
df.describe().T

In [ ]:
df.corr()

In [ ]:
#Histogram tip again

df['tip'].plot.hist(bins=10)

In [ ]:
#  skewness tip again

df['tip'].skew()

In [ ]:
#  boxplot tip

df['tip'].plot.box()

In [ ]:
df.info()

In [121]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from numpy import mean
from numpy import median
barplot = sns.barplot(x = "gender" , y = "tip" ,  data = df , palette = 'pastel' , ci = None ,
              estimator = median ).set(title = "Klasslara ve cinslere gore sag qalanlarin sayi")

plt.show()

In [ ]:
sns.countplot(x='gender', data=df)

In [ ]:
tc = df.corr()
sns.heatmap(tc,cmap='coolwarm')
plt.title('Korrelyasiya heatmap')

In [ ]:
df["gender"].value_counts().plot.pie(shadow=True, autopct="%1.1f%%")
plt.legend()

In [ ]:
plt.hist(df['total_bill'])

In [ ]:
sns.scatterplot(x = "total_bill", y = "tip", hue= "gender", data = df)

### Dummy Variable

In [ ]:
##Dummy variable
dmy = pd.get_dummies(df.select_dtypes('category') )
dmy.head()
cat_columns = df.select_dtypes('category')
num_cols = df.drop(cat_columns , axis = 1)
df_dummy = pd.concat([num_cols , dmy] , axis= 1)
df_dummy.head()

In [ ]:
corr = df_dummy.corr()
corr

In [ ]:
##Dummy variable
dmy = pd.get_dummies(df.select_dtypes('category') ,  drop_first = True)
dmy.head()
cat_columns = df.select_dtypes('category')
num_cols = df.drop(cat_columns , axis = 1)
df_dummy2 = pd.concat([num_cols , dmy] , axis= 1)
df_dummy2.head()

In [ ]:
df_dummy2.corr()

In [ ]:
#group by smoker tip mean

df.groupby('smoker')['tip'].mean()

In [ ]:
# Group by gender male tip

df.groupby('gender')['tip'].mean()

In [ ]:
# group by day time summarise  tip mean

df.groupby(['day', 'time'])['tip'].mean()

In [ ]:
# prompt: group by gender smoker

df.groupby(['gender', 'smoker'])['tip'].mean()

In [ ]:
df = df_dummy2
df.head()

In [ ]:
# prompt: boxplot total bill and tip

import matplotlib.pyplot as plt

df.boxplot(column=['total_bill', 'tip'], grid=True)
plt.show()

In [ ]:
df.head()

In [139]:
# create copy of
df2 = df.copy()

Feature Scaling

In [140]:
#Standardization -- zscore
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
columns_to_scale = ['tip', 'total_bill']
df2[columns_to_scale] = scaler.fit_transform(df2[columns_to_scale])

In [ ]:
df2.head()

In [ ]:
# prompt: mean df2 total_bill

print(df2['total_bill'].mean())
print(df2['total_bill'].std())

In [ ]:
# prompt: boxplot total bill and tip

import matplotlib.pyplot as plt

df2.boxplot(column=['total_bill', 'tip'], grid=True)
plt.show()

In [ ]:
df.head()

In [145]:
##Getting logarithm
df['tip'] = np.log1p(df['tip'])
df['total_bill'] = np.log1p(df['total_bill'])

In [ ]:
df.head()

In [ ]:
# prompt: boxplot total bill and tip

import matplotlib.pyplot as plt

df.boxplot(column=['total_bill', 'tip'], grid=True)
plt.show()

In [ ]:
df.head()

In [ ]:
df.describe().T